<section class="main-details">
  <div>
    <div class="city-details">
      <h2 *ngIf="cityName; else noCityName">{{ cityName }}</h2>
      <p>{{ forecast.time * 1000 | date: "fullDate" }}</p>
    </div>
    <div class="state">
      <!-- setting the weather icon based on the forecast -->
      <img
        class="icon"
        [src]="'../../../../../assets/images/icons/' + forecast.icon + '.png'"
        [alt]="forecast.icon"
      />
      <h3>{{ forecast.summary }}</h3>
    </div>
  </div>
  <div class="temp-details">
    <p class="temp-currant">
      <span class="degree">{{
        forecast.temperature | scaleConvertor: selectedScale
      }}</span>
    </p>
    <p class="temp-rang">
      <span class="degree">{{
        forecast.temperatureLow | scaleConvertor: selectedScale
      }}</span>
      /
      <span class="degree">{{
        forecast.temperatureHigh | scaleConvertor: selectedScale
      }}</span>
    </p>
    <p class="temp-note">{{ forecast.daySummary }}</p>
  </div>
</section>

<ng-template #noCityName> [Couldn't get city name] </ng-template>
