.main-details {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;

  .city-details {
    text-align: left;
    h2 {
      letter-spacing: 0.05em;
      font-size: 64px;
      padding-bottom: 10px;
    }
    p {
      font-size: 20px;
      letter-spacing: 0.05em;
      font-weight: bold;
      padding-bottom: 35px;
    }
    .state {
      h3 {
        padding-top: 16px;
        font-size: 30px;
      }
    }
  }
  .temp-details {
    text-align: right;
    .temp {
      &-currnte {
        font-size: 144px;
        letter-spacing: 0.05em;
        font-weight: bold;
        letter-spacing: 0.05em;
      }
      &-rang {
        font-size: 48px;
        letter-spacing: 0.05em;
      }
      &-note {
        font-weight: 600;
        text-align: center;
      }
    }
  }
}
