<section class="slider">
  <div class="details-options">
    <button [class.active]="isHourly" (click)="changeSliderMode(true)">
      Hourly
    </button>
    <button [class.active]="!isHourly" (click)="changeSliderMode(false)">
      Daily
    </button>
  </div>
  <div class="slider-outer-continer">
    <div class="slider-continer">
      <div *ngFor="let item of sliderItems; let i = index" class="slider-item">
        <p class="time">
          {{
            isHourly && i === 0
              ? "Now"
              : (item.time * 1000 | date: (isHourly ? "HH:mm" : "MMM d"))
          }}
        </p>
        <img
          class="icon"
          [src]="'../../../../../assets/images/icons/' + item.icon + '.png'"
          [alt]="item.icon"
        />
        <p class="temp">
          <ng-container *ngIf="isHourly; else dailyTempRange">
            <span class="degree">{{
              item.temperature | scaleConvertor: selectedScale
            }}</span>
          </ng-container>
        </p>
        <ng-template #dailyTempRange>
          <span class="degree">{{
            item.temperatureLow | scaleConvertor: selectedScale
          }}</span>
          /
          <span class="degree">{{
            item.temperatureHigh | scaleConvertor: selectedScale
          }}</span>
        </ng-template>
      </div>
    </div>
  </div>
</section>
