@import "../../../../../assets/styles/shared";

.slider {
  padding-top: 70px;
  .details-options {
    button {
      font-size: 22px;
      padding: 15px 0;
      background: transparent;
      border: none;
      margin-inline-end: 50px;
      cursor: pointer;
      font-weight: 600;
      opacity: 0.7;
      transition: all ease 0.8s;
      &.active {
        opacity: 1;
        box-shadow: inset 0px -4px 0px -1px #ffffff;
      }
    }
  }
  .slider-outer-continer {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    .slider-continer {
      padding: 20px 0;
      display: flex;
      overflow: auto;
      .slider-item {
        min-width: fit-content;
        text-align: center;
        padding: 0 35px;
        .time {
          font-size: 24px;
        }
        svg {
          margin: 15px 0 10px;
          width: 66px;
        }
        .temp {
          font-size: 36px;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 30px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .slider {
    padding-top: 70px;
    .details-options {
      button {
        font-size: 16px;
        margin-inline-end: 25px;
      }
    }
    .slider-outer-continer {
      .slider-continer {
        .slider-item {
          padding: 0 20px;
          .time {
            font-size: 16px;
          }
          svg {
            width: 40px;
          }
          .temp {
            font-size: 20px;
          }
        }
      }
    }
  }
}
